
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>THÔNG TIN CHI TIẾT SẢN PHẨM</h2>
<h3>Tên sách: @Model.Tensach</h3>
<h3>Giá sách: @Model.Giaban</h3>
<h3>Chủ đề: @Model.CHUDE.TenChuDe</h3>

